* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

p {
    font-size: 1.2rem;
    text-align: center;
}

#contenedorPrincipal {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
    
}

#contenedorAdm,
#contenedorEmp {
    width: 45%;
    min-height: 150px;
    border: solid 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

#contenedorMes {
    width: 55%;
    min-height: 200px;
    border: solid 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

#bienvenida {
    display: none;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    
}

@media (max-width: 481px) {
  h1 {
    font-size: 3rem;
} h2 {
    font-size: 20px;
    text-align: center;
    overflow-wrap: break-word;
} p {
    font-size: 15px;
    text-align: center;
}

 
 #contenedorAdm,
 #contenedorEmp {
    display: none;
    
} #bienvenida {
    display: block;

}
  
}