* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

input {
    width: 100%;
    height: 40px;
}

button {
    border: solid 3px;
    width: 25%;
    height: 15%;
}

label {
    width: 100%;
    height: 10px;
}

#formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 370px;
  
    border: solid 3px;
    padding: 2px;
}

#infoCuenta {
    width: 100%;
    height: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
} a {
    margin-left: 5px;
}

.contenedorEntrada {
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 481px) {
  h1 {
    font-size: 3rem;
} h2 {
    font-size: 20px;
    text-align: center;
    overflow-wrap: break-word;
} p {
    font-size: 15px;
    text-align: center;
}
  button {
    border: solid 3px;
    width: 40%;
    height: 15%;
}
   
 

}